@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap";

#viewport {
  height: 100vh;
  position: relative;
}

#history-container {
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  display: none;
  z-index: 100;

  &.show {
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: auto;

    li {
      a {
        padding: 5px 10px;
        display: block;
        color: #337ab7;
        border-bottom: solid 1px #337ab7;

        &:hover {
          text-decoration: none;
          background-color: #337ab7;
          color: #ffffff;
        }
      }
    }
  }
}

#title {
  position: absolute;
  top: 80px;
  z-index: -1;
  text-align: center;
  height: 40px;
  font-size: 30px;
  line-height: 35px;
  color: #1872BF;
  text-shadow: 0 0 3px #FFE814;
  font-weight: bold;
}

#map-row {
  position: absolute;
  top: 45px;
  left: 15px;
  bottom: 15px;
  right: 15px;
}

#map {
  height: 100%;
}


@media screen and (max-width: 767px) {
  #history-container {
    width: 100%;
    left: 0;
  }
  #title {
    top: 95px;
  }
}
// No gutters override
.row.no-gutters {
  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

img[src^="http://pbs"] {
  border-radius: 25px;
  border: solid 1px #636363;
}

// override border-radius of input and button
#controls input, #controls button {border-radius: 0}
