@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap";

#viewport {
  height: 100vh;
  padding-bottom: 50px;
  position: relative;
}

#history-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50px;
  width: 300px;
  background: #ffffff;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: auto;

    li {
      a {
        padding: 5px 10px;
        display: block;
        color: #337ab7;
        border-bottom: solid 1px #337ab7;

        &:hover {
          text-decoration: none;
          background-color: #337ab7;
          color: #ffffff;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #viewport {
    padding-bottom: 92px;
  }
  #history-container {
    bottom: 92px;
    width: 100%;
    left: 0;
  }
}
#viewport > div:first-child {
  height: 100%;
}
#map {
  height: 100%;
}

// No gutters override
.row.no-gutters {
  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

img[src^="http://pbs"] {
  border-radius: 25px;
  border: solid 1px #636363;
}

// override border-radius of input and button
#controls input, #controls button {border-radius: 0}
